{
  "branches": [
    "main",
    {
      "name": "develop",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./versioning.sh ${nextRelease.version}"
      }
    ]
  ]
}
