branches:
    - main
    - name: develop
      prerelease: true

plugins:
  - '@semantic-release/commit-analyzer':
      preset: conventionalcommits
  - '@semantic-release/github'
  - '@semantic-release/exec':
      successCmd: echo ${nextRelease.version} > VERSION